#app2{
}
#app2 .tab-bar{
    display: flex;
}
#app2 .tab-bar > li{
    width: 50%;
    border: 5px solid black;
}
#app2 .tab-bar > li.select{
    background: rgb(255, 205, 66);
}
#app2 .tab-content{
    
}
#app2 .tab-content > li{
    display: none;
}#app2 .tab-content > li.active{
    display: block;
}