#app3{

}
#app3 .square{
    width: 8vw;
    height: 8vh;
    margin-top:60px ;
    margin-left:100px;
    border: 1px solid green;
    transition: 1s transform;
}
#app3 .square.active{
    transform: translateX(15vw);
}
